<!-- Desenvolvido por André Koschnik -->
<div id="wrapper">
  <button class="btn btn-secondary btn-closed" type="button" id="toggle" (click)="toggleMenu()">
    <i class="fa-solid fa-bars"></i>
  </button>

  <div class="menu-closed" id="menu">
    <a (click)="navigate('vehicles')" id="logo_container">
      <i class="fa-solid fa-sack-dollar fa-3x"></i>
    </a>
  
    <div id="menu_body">
      <ul id="menu_list">
        <li class="menu_item" *ngIf="!authGuard.isAuthenticated()">
          <a (click)="navigate('login')">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            Entrar
          </a>
        </li>

        <li class="menu_item" *ngIf="authGuard.isAuthenticated()">
          <a (click)="navigate('vehicles')">
            <i class="fa-solid fa-car"></i>
            Veículos
          </a>
        </li>

        <li class="menu_item" *ngIf="authGuard.isAuthenticated()">
          <a (click)="navigate('logout')">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            Sair
          </a>
        </li>
      </ul>
    </div>
  
    <div id="menu_footer">
      <p>Desenvolvido por André Koschnik</p>
    </div>
  </div>
  
  <div id="page_content" (click)="closeMenu()">
    <router-outlet></router-outlet>
  </div>
</div>